In [1]:
import re
import pandas as pd

## Processing Data

In [2]:
problem_file = r"Data\problems.html"
labresult_file = r"Data\labresults.html"

In [3]:
def clean_data(file_name):
    
    PATTERN_CLEANUP = r'\s+|&#160;'
    PATTERN_ROW = r'(?:<tr\s*/>)|(?:<tr\b[^>]*>(?P<arow>.+?)</tr>)'    
    PATTERN_CELL = r'(?:<(?:th|td)\s*/>)|(?:<(?P<element>th|td)\b[^>]*>(?P<col>.+?)</(?P=element)>)'
    
    # reding data
    html_content = open(file_name,'r', encoding='utf-8').read()
    
    # Replaces all extra spaces, new lines, tabs etc with a single space.    
    html_content = re.sub(PATTERN_CLEANUP,' ', html_content)    
    
    # saving data into csv format
    with open(file_name + '.csv','w', encoding='utf-8') as newfile:
        
        # Process each row in the table
        row_iter = re.finditer(PATTERN_ROW, html_content)
        
        for row_match in row_iter:
            
            if row_match.group('arow'):
                rowData = []
                
                # For each cell in a row
                col_iter = re.finditer(PATTERN_CELL,row_match.group('arow'))
                
                for col_match in col_iter:                    
                    # check for empty columns
                    if col_match.group('col'):
                        rowData.append(col_match.group('col').replace(',',''))
                    else:
                        rowData.append('')
                        
                newfile.write(','.join(rowData))
                newfile.write('\n')

In [4]:
clean_data(problem_file)
clean_data(labresult_file)

## Cleaned Data

In [5]:
clean_problem_data = pd.read_csv('Data/problems.html.csv')
clean_problem_data

                                         Problem  Noted Date Resolved Date
0                   At high risk for heart block  02/10/2015    06/15/2015
1                   MVA (motor vehicle accident)  01/05/2014    05/08/2014
2                             HTN (hypertension)  09/17/2014    09/05/2015
3                                Gross hematuria  01/11/2014    07/15/2015
4               Normal newborn (single liveborn)  09/08/2014    08/12/2015
5                                  Bronchiolitis  02/14/2014    08/12/2015
6                                    Skin cancer  04/12/2014    08/12/2015
7          Sepsis due to urinary tract infection  02/11/2012    03/27/2015
8  CAD (coronary artery disease) of bypass graft         NaN    06/05/2015

In [6]:
clean_labresult_data = pd.read_csv('Data/labresults.html.csv')
clean_labresult_data

,Test,Jun 22 2014,Jun 24 2013,Jul 19 2012,Aug 13 2011,Sep 07 2010
0,Hemoccult,,,negative,,
1,Cholesterol (mg/dL),135,143,,137,127
2,Triglyceride (mg/dL),121,80,,59,78
3,HDL (mg/dL),40,47,,43,42
4,LDL (mg/dL),71,60,,62,69
5,Homocysteine (umol/L),,9.6,,9.6,
6,CRP (mg/L),,,,0.6,0.6
7,BG Random (mg/dL),86,88,,79,88
8,PSA (ng/mL),,0.7,,0.5,0.6
9,WBC (10*3/mm3),4.4,5.1,,4.2,5.0
10,HGB (g/dL),13.9,13.8,,14.6,13.9
11,HCT (%),40.9,42,,43,40
12,MCV (fL),89.2,88,,89,89
13,Platelets (10*3/mm3),277,286,,256,294
14,BUN (mg/dL),12,9,,13,16
15,Creatinine (mg/dL),0.9,0.9,,0.9,1.0
16,Sodium (mmol/L),140,,,,
17,Potassium (mmol/L),4.2,4.6,,4.7,4.5
18,Calcium (mg/dL),9.7,10.1,,10.2,9.9
19,Uric acid (mg/dL),,6.1,,6.7,7.0
20,SGOT (AST) (U/L),16,16,,17,15
21,SGPT (ALT) (U/L),12,14,,15,17
22,Alk Phos (U/L),62,53,,58,60
23,GGT (U/L),,,,,
24,Bili Total (mg/dL),0.5,0.4,,0.7,0.6
25,TSH (uIU/mL),,,,,1.8
26,Vit D 25-OH Total (ng/mL),16 (L),,27,,